<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo">
  <description>UTK Special Collections Manuscripts Test</description>
  <website>https://github.com/utkdigitalinitiatives/tei-migration</website>
  <status/>
  <license>GNU-LGPL</license>
  <copyright>true</copyright>
  <type>application</type>
  <target>utk-manuscripts</target>
  <prepare>pre-install.xql</prepare>
  <finish>post-install.xql</finish>
  <permissions xmlns:repo="http://exist-db.org/xquery/repo" password="" user="tei" group="tei" mode="rw-rw-r--"/>
</meta>